html,body{
    background-color:wheat;
    color: black;
    margin: 0%;
    padding: 0%;
    
    
}

header {
    text-align: center;
  
}

header > .logo {
    font-size: 50pt;
    color: green;
}
h1{
    color: brown;
}

nav{
    text-align: center;
    padding: 1cm;
}

main > section{
    display: flex;
    flex-wrap:nowrap ;
    flex-direction: row;
    
}

li{
    list-style-type: none;
}

button:hover{
    
    padding: 10px;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    border-radius: 5px
        
    }


button{
    width: 2.5cm;
    height: 1cm;
    color:seashell;
    background-color: rosybrown;
    border-radius: 5px;
    position: relative;
    right: -250px;
}


.bi-bank{
    position: relative;
    bottom: 300px;
    left: 200px;
    font-size: 30px ;
    color: slateblue;
}


.btn{
    margin: 1cm;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    border-radius: 5px
}

.btn:hover{
    padding: 20px;
    text-decoration: none;
    color: white;
    opacity: 0.5;
    border-radius: 5px
    
}

.btn-red{
    background-color: red;
    color: white;
    border-radius: 5px;
}

.btn-green{
    background-color: green;
    color: white;
    border-radius: 5px;
}
.btn-yellow{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}
.btn-blue{
    background-color: blue;
    color: white;
    border-radius:5px ;
}

.volkswagen{
    width: 250px;
    height: 400px;
    float: left;
    margin: 5px;
}

i{
    color: tomato;
    font-size: 2em;
    

footer{
    height: 40px;
    background-color: rgb(216, 191, 138);
    width: 100%;
}





