span {
    /* convert inline to block level element */
    display: block;
}

div {
    background-color: red;
    color: rgb(251, 255, 0)
}

div.custom {
    background-color: green;
    color: white;
}

span.custom {
    background-color: darkslateblue;
    color: white;
}

/* 
<div class="main">
        <div class="child">1</div>
        <div class="child">2</div>
        <div class="child">3</div>
        <div class="child">4</div>
    </div> */

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}

.child {
    background-color: darkslategrey;
    padding: 4em;
    margin: 1px;
}

#wrapper {
    background-color: gold;
}

video {
    width: 50%;
    height: auto;
    object-fit: cover;
}